flatpack/src/main/java/net/sf/flatpack/xml/flatpack.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT PZMAP (RECORD*,COLUMN+,RECORD*)>
    <!ELEMENT RECORD (COLUMN+)>
    <!ATTLIST RECORD id ID #REQUIRED
    		  startPosition CDATA  "1"
			  endPosition CDATA "1"
              elementNumber CDATA "1"
              elementCount CDATA "0"
              indicator CDATA "">
	<!ELEMENT COLUMN EMPTY>
	<!ATTLIST COLUMN name CDATA  #REQUIRED
			  length CDATA  "1"	>